@use 'sass:list';
@use 'sass:math';
@use 'vars';

@function em($values, $context: vars.$base-font-size) {
  $list: ();
  @each $value in $values {
    $unit: math.unit($value);
    @if ($unit=='em' or $unit=='') {
      $list: list.append($list, $value);
    } @else if ($unit==unit($context)) {
      $list: list.append($list, $value / $context + 0em);
    } @else if ($unit=='rem') {
      $list: append($list, $value / 1rem + 0em);
    }  @else {
      $base: math.unit($context);
      @warn "Incompatible units: '#{$unit}' and '#{$base}'";
    }
  }
  @if length($list)==1 {
     @return nth($list, 1);
  }
   @return $list;
}

@function rem($values, $context: vars.$base-font-size) {
  $list: ();
  @each $value in $values {
    $unit: math.unit($value);
    @if ($unit=='rem' or $unit=='') {
      $list: list.append($list, $value);
    } @else if ($unit==unit($context)) {
      $list: list.append($list, $value / $context * 1rem);
    } @else {
      $base: math.unit($context);
      @warn "Incompatible units: '#{$unit}' and '#{$base}'";
    }
  }
  @if length($list)==1 {
    @return nth($list, 1);
  }
  @return $list;
}
