<footer class="page-footer">
  <small>© 2021 {{ metadata.author.forename }} {{ metadata.author.lastname }} – alle Texte unter <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></small>
</footer>
