@use '../utils';

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

main {
  grid-area: main;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Alice, serif;
    font-weight: 400;
    hyphens: auto;
    margin: 0 0 0.25em;
    padding: 1em 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h1 {
    //font-size: utils.rem(48px);
    @include utils.font-size-factor(48px);
  }

  h2 {
    @include utils.font-size-factor(26px);
  }

  h3 {
    @include utils.font-size-factor(24px);
  }

  h3,
  h4,
  h5,
  h6 {
    @include utils.font-size-factor(22px);
  }

  p {
    margin: 0 0 1em;
    padding: 0;
  }

  p,
  li,
  td,
  th,
  small {
    @include utils.font-size-factor(1.2rem);
    font-weight: 300;
    hyphens: auto;
    line-height: 1.4;
  }

}

