@use '../utils';

.page-footer {
  color: var(--header-text-color);
  grid-area: footer;
  padding: utils.em(4px 0 6px);
  text-align: center;

  small {
    @include utils.font-size-factor(10px);
    font-weight: 300;
    @include utils.font-smoothing();
  }

  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }
}
