@use '../utils';
$standard-margin: utils.em(34px 0 50px);

.post {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 59ch) minmax(1.2rem, 1fr);
  padding: utils.em(40px 0);
  @include utils.font-size-factor(1rem);
  &--with-image {
    padding-top: 0;
  }

  & > * {
    grid-column: 2;
  }

  figure {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 59ch) minmax(1.2rem, 1fr);
    justify-self: center;
    margin: $standard-margin;
    max-width: 100ch;
    width: 100%;

    figcaption {
      font-weight: 300;
      grid-column: 2;
    }

    img {
      filter: var(--image-filter);
      grid-column: 2;
      height: auto;
      width: 100%;

      &.wide {
        grid-column: 1 / 4;
      }

      & + figcaption {
        margin-top: utils.em(10px);
      }

    }

    blockquote {
      color: var(--blockquote-text-color);
      font-family: Alice, serif;
      font-style: italic;
      grid-column: 2;
      margin: 0;
      padding-left: .4em;

      p {
        font-weight: 400;
      }

      p:first-child {
        text-indent: -0.4em;
      }

      p:first-child::before {
        content: "„"
      }

      p:last-child::after {
        content: "“";
      }

      & + figcaption {
        padding-left: .4em;
      }
    }

  }

  .post-image {
    grid-column: 1 / 4;
    height: calc(100vh - #{utils.em(46px)});
    justify-self: center;
    margin-bottom: utils.em(50px);
    max-height: utils.rem(1024px);
    max-width: utils.rem(1440px);
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      bottom: 0;
      filter: var(--image-filter);
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .post-title {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      @include utils.respond-min(utils.em(750px)) {
        padding: 1.6em;
      }

      @include utils.respond-min(utils.em(1100px)) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
      }

      h1 {
        font-family: 'Lato', sans-serif;
        @include utils.font-size-factor(50px);
        font-weight: 900;
      }

      p {
        @include utils.font-size-factor(1.3rem);
        font-weight: 300;
        margin: 0;
      }

      h1, p  {
        color: #fff;
        @include utils.font-smoothing;
        @include utils.respond-min(utils.em(960px)) {
          hyphens: none;
          max-width: 75%;
        }
      }

    }

    & + h1 {
      display: none;
    }
  }

  a, a:link {
    color: var(--text-accent-color);
    font-weight: 300;
    text-decoration: underline;
  }

  a:visited {
    text-decoration: none;
  }

  pre[class*="language-"] {
    border: 1px dotted var(--text-color);
    margin: $standard-margin;
    filter: drop-shadow(0 0 15px hsla(0, 0%, 0%, 75%));

    code {
      font-size: 90%;
    }
  }

}
