@use '../utils';
$standard-margin: utils.em(34px 0 50px);

.post {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 59ch) minmax(1.2rem, 1fr);

  & > * {
    grid-column: 2;
  }

  figure {
    grid-column: 1 / 4;
    width: 100%;
    max-width: 100ch;
    justify-self: center;
    //padding: utils.em(30px) 0;
    margin: $standard-margin;

    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 59ch) minmax(1.2rem, 1fr);

    figcaption {
      font-weight: 200;
      grid-column: 2;
    }

    img {
      grid-column: 2;
      filter: var(--image-filter);
      height: auto;
      width: 100%;

      &.wide {
        grid-column: 1 / 4;
      }

      & + figcaption {
        margin-top: utils.rem(10px);
      }

    }

    blockquote {
      color: var(--blockquote-text-color);
      font-family: Alice, serif;
      font-style: italic;
      grid-column: 2;
      margin: 0;
      padding-left: 0.4em;

      p {
        font-weight: 400;
      }

      p:first-child {
        text-indent: -0.4em;
      }

      p:first-child::before {
        content: "„"
      }

      p:last-child::after {
        content: "“";
      }

      & + figcaption {
        padding-left: 0.4em;
      }
    }

  }

  a, a:link {
    color: var(--text-accent-color);
    font-weight: 300;
    text-decoration: underline;
  }

  a:visited {
    text-decoration: none;
  }

  pre[class*="language-"] {
    border: 1px dotted var(--text-color);
    margin: $standard-margin;
    filter: drop-shadow(0px 0px 15px hsla(0, 0%, 0%, 75%));

    code {
      font-size: 90%;
    }
  }

}
