@use '../utils'as u;

.post > .table-of-contents {
  background-color: var(--toc-background-color);
  background-image: linear-gradient(rgba(255, 255, 255, .25) 1px, transparent 1px);
  background-size: 1px calc(2rem + 1px);
  border-radius: u.rem(5px);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
  font-family: var(--heading-font);
  font-weight: 400;
  margin-top: u.$baseline;
  padding: 2rem 1rem;

  ol {
    list-style-type: decimal-leading-zero;
    margin: 0;
    padding-left: 2em;
  }

  li {
    line-height: 1.6rem;
    margin-top: .5rem;
  }

  li ol {
    list-style: none;
    padding: 0;
  }

  a:any-link {
    border: none;
    text-decoration: none;
  }
  a:hover {
    color: var(--background-color);
  }
}
