<!doctype html>
<html class="no-js" lang="{{ language or metadata.language  }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, ' ') + ' js';
    </script>
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..700;1,300..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ '/css/dark.css' | url }}">
    {% block additional_styles %}{% endblock %}
  </head>
  <body>
    <!--div class="page"-->
      {% include "../_partials/header.njk"  ignore missing -%}
      <main class="page-main">
        {%- block content %}
        {{ content | safe }}
        {%- endblock -%}
      </main>
      {%- include "../_partials/footer.njk"  ignore missing %}
    <!--/div -->
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
