{% extends 'layouts/default.njk' %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ '/css/vendor/prism.css' | url }}">
<link rel="stylesheet" href="{{ '/css/post.css' | url }}">
{% endblock %}

{%- block content %}
  {% set imageblock -%}
  {%- if heroImage or heroTemplate -%}
  <header class="post-image wide">
    {% if heroTemplate %}
    {% include '_partials/' + heroTemplate  + '/image.njk'   ignore missing %}
    {% else %}
    <img src="/img/{{ image }}" alt="">
    {% endif %}
    <div class="post-title">
      <h1>{{ title }}</h1>
      {% if subtitle -%}
      <p>{{ subtitle }}</p>
      {%- endif %}
    </div>
  </header>
  {%- endif -%}
  {%- endset %}
  <article class="post{% if imageblock %} post--with-image{% endif %}">
    {% if imageblock %}
      {{ imageblock | safe }}
    {% endif %}
    {{ super() }}
  </article>
{%- endblock -%}
