{% extends 'layouts/default.njk' %}

{%- block content %}
  {% set imageblock -%}
  {%- if heroImage -%}
  <header class="post-image">
    <img src="/img/{{ image }}" alt="">
    <div class="post-title">
      <h1>{{ title }}</h1>
      {% if subtitle -%}
      <p>{{ subtitle }}</p>
      {%- endif %}
    </div>
  </header>
  {%- endif -%}
  {%- endset %}
  <article class="post{% if imageblock %} post--with-image{% endif %}">
    {% if imageblock %}
      {{ imageblock | safe }}
    {% endif %}
    {{ super() }}
  </article>
{%- endblock -%}
