@use '../utils' as u;

body > header {
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  font-family: var(--system-font);
  font-size: 1rem;
  font-weight: 300;
  height: 46px;
  justify-content: space-between;
  @include u.respond-min(u.em(750px)) {
    height: 60px;
    font-size: 1.25rem;
  }
  @include u.respond-min(u.em(1441px)) {
    justify-content: center;
  }

  h1 {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.05em;
    margin: 0;
    padding: .8em;
    text-align: center;
    text-transform: lowercase;

    span {
      @extend .visually-hidden;
    }

    a::after {
      display: inline;
      content: '|dev';
    }
  }

  a {
    color: var(--header-text-color);
    text-decoration: none;

    &:any-link {
      border: none;
      color: inherit;
      font-weight: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }

  }
}


@include u.respond-max(u.em(500px)) {
  body > header {
    .toggle {
      box-sizing: border-box;
      display: block;
      padding: .8em;

      svg {
        display: block;
        pointer-events: none;
        stroke: currentcolor;
        height: 20px;
        width: 20px;
      }
    }
  }
}

@include u.respond-min(u.em(500px)) {
  body > header .toggle {
    display: none;
  }
}
