:root {
  --background-color: hsl(0, 0%, 14.1%);
  --text-color: hsla(0, 0%, 100%, 0.885);
  --header-background-color: hsl(0, 0%, 10.2%);
  --header-text-color: hsl(0, 0%, 94.5%);
  --font-smoothing: antialiased;
  --moz-font-smoothing: grayscale;
  --image-filter: grayscale(50%) brightness(90%);
  --blockquote-text-color: hsla(0, 0%, 100%, 0.75);
}
