$mws: "merriweathersans";

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-regular.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-bold.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-italic.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-bolditalic.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-light.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('/css/fonts/#{$mws}-lightitalic.woff2') format('woff2'),
  url('/css/fonts/#{$mws}-lightitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Alice";
  src: url('/css/fonts/alice-regular.woff2') format('woff2'),
  url('/css/fonts/alice-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
