.post {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 59ch) minmax(1.2rem, 1fr);

  h1, h2, h3, h4, p {
    grid-column: 2;
  }

  img {
    grid-column: 1 / 4;
    width: 100%;
    max-width: 100ch;
    justify-self: center;
  }
}
